aiofiles
aiosqlite
alembic
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
Bottleneck
brotlipy
certifi
cffi
charset-normalizer
click
colorama
comm
cryptography
debugpy
decorator
defusedxml
dnspython
dominate
email-validator
entrypoints
et-xmlfile
executing
fastjsonschema
Flask
Flask-Admin
Flask-Bootstrap
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gitdb
GitPython
greenlet
h11
h2
hpack
httpcore
hyperframe
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
json5
jsonschema
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyter-server
jupyter_server_fileid
jupyter-server-mathjax
jupyter_server_ydoc
jupyter-ydoc
jupyterlab
jupyterlab_git
jupyterlab-pygments
jupyterlab_server
jupyterlab-widgets
lxml
Mako
MarkupSafe
matplotlib-inline
mistune
mkl-fft
mkl-random
mkl-service
nbclassic
nbclient
nbconvert
nbdime
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
openpyxl
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pip
platformdirs
ply
prometheus-client
prompt-toolkit
psutil
psycopg2
ptyprocess
pure-eval
pycparser
Pygments
pyOpenSSL
PyQt5
PyQt5-sip
pyrsistent
PySocks
python-dateutil
python-editor
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
requests
rfc3339-validator
rfc3986-validator
Send2Trash
setuptools
sip
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
terminado
tinycss2
toml
tomli
tornado
traitlets
typing_extensions
urllib3
visitor
wcwidth
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
WTForms
y-py
ypy-websocket
zipp
